label {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

input {
  height: 30px;
  font: unset;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 0.875em;
  color: var(--text-color);
  letter-spacing: -0.02em;
  border: 1px solid #e5e5e5;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border: var(--input-focus-border);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea,
input[type='text'],
input[type=] {
  -webkit-appearance: none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-with-icon {
  cursor: text;
  position: relative;
  margin-top: 4px;
}

.input {
  display: flex;
  align-items: center;
  padding: 0 8px 0 32px;
}

.icon {
  position: absolute;
  top: 6px;
  left: 8px;
  pointer-events: none;
}
