.app {
	height: 100%;
	display: grid;
	grid-template-columns: 256px 1fr 320px;
	grid-template-areas: 'editor grid code';
}

.editor {
	grid-area: 'editor';
}

.grid {
	grid-area: 'grid';
}

.code {
	grid-area: 'code';
}
