.app {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'header'
		'main';
}

.app-header-main {
	grid-area: header;
}

.editor {
	grid-area: editor;
}

.grid {
	grid-area: main;
}

.code {
	grid-area: code;
}

@media screen and (min-width: 1024px) {
	.app {
		grid-template-columns: 256px 1fr 320px;
		grid-template-rows: 1fr;
		grid-template-areas: 'editor main code';
	}
}
