.editor-sidebar {
  background: #ffffff;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #e5e5e5;
}

.editor-header {
  display: none;
}

@media screen and (min-width: 800px) {
  .editor-header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 16px;
  }
}
